body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d17dd1;
}

header {
    background-color: #2b0b26;
    color: white;
    padding: 20px;
    text-align: center;
}
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

section h2 {
  margin-bottom: 15px;
  color: #333;
}

section p, section li {
  font-size: 1rem;
  line-height: 1.6;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.art-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.art-card img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e65c00;
}

.contact {
    text-align: center;
    padding: 20px;
}
.art-card img {
    transition: transform 0.3s ease;
}

.art-card img:hover {
    transform: scale(1.08);

}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #222;
  color: white;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #ff9800;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
