body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d17dd1;
}

header {
    background-color: #2b0b26;
    color: white;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.art-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.art-card img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e65c00;
}

.contact {
    text-align: center;
    padding: 20px;
}
.art-card img {
    transition: transform 0.3s ease;
}

.art-card img:hover {
    transform: scale(1.08);
}